html, body { width: 100%; 
	height: 100%;
	position: relative; }
#draggable {
            display: inline-block;
          	height: 300px;
          	width:25%;
            float: right;
            background-image: url("../images/printed-toast.png");
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 110px;
            margin-right:10%;
        }

#draggable:hover {
	background-image: url("../images/printed-toast-shadow.png");
	cursor: url("../images/123.png"), auto;
}
      
#droppable {
	margin-top: 100px;
    width: 30%;
    height: 50%;
    margin-left:10%;
    float: left;
		border-color: red;
    background-image: url("../images/mouth.png");
    background-size: contain;
    background-repeat: no-repeat;
}
    

.draginstruction {
	position: absolute;
	bottom:180px;
	width: 100%;
	right:0px;
	padding-right: 3rem;
	height: 25%;
	
}

.draginstruction .dialogue {
	width: 40%;
	margin:auto;
	margin-left: 25%;
}

.draginstruction .Dora{
	display: inline;
	width:10%;
}

/*arrow*/
.arrow {

	z-index: 1000;
    opacity: 1;
    position: absolute;
        left: 50%;
        top: 45%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
	transform: rotate(90deg);
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
	transform: rotate(90deg);
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
	z-index: 1000;
    background:black;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
    display: block;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}


@keyframes arrow-movement {
    0% { 
        opacity: 0;
        left: 55%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

