@font-face {
    font-family: ProximaNovaBlack;
    src: url("../fonts/ProNovBlack.ttf");
    font-weight:700;
}

@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/ProNovBold.ttf");
    font-weight:500;
}

@font-face {
    font-family: Brandon_blk;
    src: url("../fonts/Brandon_blk.otf");
    font-weight:700;
}

body {
	display: none;
}

#fullpage {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(#243B55, #141E30 );
}


.section-1 img {
	width: 70%;
	position: absolute;
	top: 30%;
	display: block;
	margin-left: 15%;
	animation-duration: 1s;
	animation-name: flyupwards;
	animation-delay: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@keyframes flyupwards {
	from {opacity:0;
    	transform: translateY(1000px);}
    to {
    	opacity: 1;}
}

h1 {
	font-family: 'Brandon_blk', sans-serif;
	font-weight: 900;
	font-size: 30rem;
		display: inline-block;
		text-shadow: 2px 2px black;
}

h2 {
	font-family: 'ProximaNovaBlack', sans-serif;
	font-weight: 700;
	font-size: 3rem;
	color: #F2F2F2;
	opacity: 1
}

.tomorrow {
	padding-top: 70px;
	margin: auto;
padding-left: 8vw;
animation-duration: 2s;
	animation-name: flytoright;
	animation-fill-mode: forwards;
}


@keyframes flytoright {
		from {opacity:0;
    	transform: translateX(-1000px);}
    to {
    	opacity: 1;}

}

.flyin {
	color:red;
	position: absolute;
	 top: -500px;
	text-align: center;
	width: 100%
}

h1 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

h1:nth-child(1) {
	animation-name: fail;
	 animation-duration: 2s;
	  animation-delay: 1.5s;
	  animation-fill-mode: forwards;
}
h1:nth-child(2) {
	animation-name: fail;
	 animation-duration: 2s;
	 	 animation-delay: 2s;
	 	  animation-fill-mode: forwards;

}
h1:nth-child(3) {
	animation-name: fail;
	 animation-duration: 2s;
	 	 animation-delay: 2.5s;
	 	  animation-fill-mode: forwards;
}
h1:nth-child(4) {
	animation-name: fail;
	 animation-duration: 2s;
	 	 animation-delay: 3s;
	 	  animation-fill-mode: forwards;
}

@keyframes fail {
    from {opacity:0;
    	transform: translateY(-500px);
    }
    to {transform: translateY( 600px);
    	opacity: 1;}
}

.playagain {
	font-family:'ProximaNovaBlack', sans-serif;
	font-weight: 700; 
	font-size: 0.8rem;
	color: white;
	position: absolute;
	right:20px;
	top:30px;
  padding: 10px;
  border: 2px solid rgba(255,255,255,0.5);
  text-align: center;
  text-transform: uppercase;
  overflow:hidden;
  transition: 1s;
  border-radius: 1.5rem;
  background-color: rgba(255,255,255,0.1);
  animation-name: fadein;
	 animation-duration: 1s;
	 	 animation-delay: 4.5s;
	 	  animation-fill-mode: forwards;
opacity: 0
}

@keyframes fadein {
from {
	opacity: 0
} to {opacity:1;}
}

.playagain:hover {
	color: black;
	 position: absolute;
    transition: .3s; 
    background: #f7f7f7;    
}

a {
	color: white;
}

a:hover {
	color: black;
	
}

button {
	cursor: pointer
}

@media  screen and (max-width: 1313px){
h1 {
	font-size: 19rem;
	padding-left:2rem;
}

.section img {
	width:90%;
	top:45%;
	margin-left: 5%;
}



@keyframes fail {
    from {opacity:0;
    	transform: translateY(-500px);
    }
    to {transform: translateY( 620px);
    	opacity: 1;}
}

}

@media  screen and (max-width: 961px) {
h1 {
	font-size: 17rem;
	padding-left:1.2rem;
	padding-right: 1rem;
}
.section img {
	width:95%;
	top:50%;
	margin-left: 5%;
}


@keyframes fail {
    from {opacity:0;
    	transform: translateY(-500px);
    }
    to {transform: translateY( 670px);
    	opacity: 1;}
}

}

@media  screen and (max-width: 752px) {
h1 {
	font-size: 13rem;
	padding-left:1rem;
	padding-right: 1rem;
}

@keyframes fail {
    from {opacity:0;
    	transform: translateY(-500px);
    }
    to {transform: translateY( 640px);
    	opacity: 1;}
}

}

@media  screen and (max-width: 618px) {
h1 {
	font-size: 12rem;
	padding-left:0.8rem;
	padding-right: 0.8rem;
}
}

@media  screen and (max-width: 560px) {
h1 {
	font-size: 9rem;
	padding-left:0.5rem;
	padding-right: 0.5rem;
}
.section img {
	width:97%;
	top:45%;
	margin-left: 1.5%;
}
.tomorrow {
	font-size:2.5rem;
}
}

@media  screen and (max-width: 560px) {
h1 {
	font-size:8rem;
	padding-left:0.3rem;
	padding-right: 0.3rem;
}
.playagain {
	font-size:0.5rem;
}
.tomorrow {
	font-size:2.5rem;
}

}
@media  screen and (max-width: 330px) {
h1 {
	font-size:7rem;
	padding-left:0rem;
	padding-right: 0rem;
}
.tomorrow {
	font-size:2rem;
}
.playagain {
	font-size:0.5rem;
}

}