@font-face {
    font-family: ProximaNovaBlack;
    src: url("../fonts/ProNovBlack.ttf");
    font-weight:700;
}

@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/ProNovBold.ttf");
    font-weight:500;
}

@font-face {
    font-family: Brandon_blk;
    src: url("../fonts/Brandon_blk.otf");
    font-weight:700;
}

.section-1 {
	 background: url("../images/eating-gif.gif");
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}

.section {
	height: 100%;
}

h1 {
	font-family: 'Brandon_blk', sans-serif;
	font-weight: 900;
	font-size: 5rem;
}

h2 {
	font-family: 'ProximaNovaBlack', sans-serif;
	font-weight: 700;
}

.intro {
	position: absolute;
	top:80px;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
	color: black;
	font-size: 3em;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
   transform: translateY(-15px);
  }
}



.arrow {
	z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url("../images/arrow.png");
  background-size: contain;
}

.bounce {
	opacity: 0;
  animation-name: addon;
   animation-duration:4s ;
  animation-fill-mode: forwards;
}
@keyframes addon {
	 from {
    opacity: 0;
  }
	to {
   opacity: 1;
  }
}

.bounce p {
	position: absolute;
	font-family: 'ProximaNovaBold', sans-serif;
	top:-50px;
	color: black;
}

/*section-2 css*/
.left {
	background: url("../images/doraemon-eating.jpg");
	width:50%;
	height: 100%;
	float: left;
	background-position: center center;
	background-size: 65%;
	background-repeat: no-repeat;

}

.askhelp{ 
	color: white;
	width:50%;
	float: right;
	height: 100vh;
	background: linear-gradient(#667db6,#0082c8 ); }

.askhelp-inner {
	padding-top: 30vh;
	padding-bottom: 40%;
	padding-left: 10%;
	padding-right:10%;
}

.askhelp .worry {
	margin: auto;
}

.helpu{
	line-height: 3rem;
	font-size: 2.5rem;
	font-family: 'ProximaNovaBold', sans-serif;
	padding-left: 0.5rem;
}


.fp-tooltip{
		color: #AAA;
	}
	#fp-nav span, .fp-slidesNav span{
		border-color: #AAA;
	}
	#fp-nav li .active span, .fp-slidesNav .active span{
		background: #AAA;
	}



.section-4 {
	position: relative;
}
.section-4 .left-red {
	width:50%;
	height: 100vh;
	margin: 0;
	background-color: #FF5F5F;
	display: inline-block;
}

.not-use-wrapper {
	padding-top: 45vh;
	text-align: center;
	height: 100%
}

.not-use, .use  {
	color: white;
	text-align: center;
	font-size: 3.3rem;
	display: inline-block;
	font-family: 'ProximaNovaBlack', sans-serif;
	font-weight: 700;
}
.use-wrapper {

	width: 49vw;
	display: inline;
	text-align: center;
	float: left;
	position: absolute;
	right:0px;
}

.use {
 padding-top: 45vh;
}

.section-4 a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
 
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.section-4 a:hover:after { 
  width: 100%; 
  left: 0; 
}

@media (max-width: 560px) {
.section-1{
	background-position: left center
}
.left {
width:100%;
height: 60%;
background-size: 85%
}

.askhelp {
	width:100%;
height: 30%;
	background: rgba(0,0,0,0);
}

.askhelp-inner{
	padding-top: 10vh;

}

.helpu {
	font-size: 1.3rem;
	line-height: 1.5rem;
	padding-left: 0rem;
	text-align: center;
	color:#0082c8;
}
.not-use {
font-size: 2.2rem;
padding-top: 23vh;
padding-left: 2rem;
	padding-right: 2rem;
}

.section-4 .left-red  {
	width: 100%;
	height: 50vh;
	position: absolute;
	top:0;
}
.use-wrapper {
	width: 100%;
	height: 50vh;

}
.not-use-wrapper {
	padding-top: 0;
}

.use {
	padding-top: 23vh;
	font-size: 2.2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

}

@media (min-width: 561px) and (max-width: 960px) {
.section-1 {
	background-position: left center
}
.section-2 {
	display: flex;
	flex-direction: column;
}
.left {
	width:50vw;
	background-size:80%;
		float: left;
}

.askhelp{ 
	float: left;
	width:50vw;
}
.askhelp-inner {
	padding-top: 30vh;}

.helpu{
	line-height: 2.1rem;
	font-size: 1.8rem;
	padding-right: 1rem;
}

}