@font-face {
    font-family: ProximaNovaBlack;
    src: url("../fonts/ProNovBlack.ttf");
    font-weight:700;
}

@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/ProNovBold.ttf");
    font-weight:500;
}

@font-face {
    font-family: Brandon_blk;
    src: url("../fonts/Brandon_blk.otf");
    font-weight:700;
}
#fullpage {
	display:none;
}
.section-1 {
	i
	position: relative;
}

.section {
	height: 100%;
}

h1 {
	font-family: 'Brandon_blk', sans-serif;
	font-weight: 900;
	font-size: 5rem;
}

h2 {
	font-family: 'ProximaNovaBlack', sans-serif;
	font-weight: 700;
}


.section-1 {
	height: 100vh;
	overflow: hidden;
}


.left {
	width:50%;
	height: 100%;
	float: left;
	text-align: center;	
}

.left img {
	height: 80vh;
	margin-top: 70px;
}

.askhelp{ 
	color: white;
	width:50%;
	float: right;
	height: 100%;
	background-color: #F5A0B3}

.askhelp-inner {
	padding-top: 35vh;
	padding-bottom: 40%;
	padding-left: 10%;
	padding-right:10%;
}

.askhelp .worry {
	margin: auto;
}

.mum, .helpu{
	line-height: 2.3rem;
	font-size: 1.8rem;
	font-family: 'ProximaNovaBold', sans-serif;
	padding-left: 0.5rem;
}




/*button
*/

.animate
{
	transition: all 0.1s;
}

.action-button
{ border-color: rgba(0,0,0,0);
	position: relative;
	padding: 10px 40px;
  margin: 20px 10px 10px 10px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}


.action-button:active
{transform: translate(0px,5px);
	border-bottom: 1px solid;
}

a {
	color:white;
}
button:hover {
	cursor: pointer
}



@media (max-width: 560px) {
.left img {
	margin-top: -5px
}

.left {
width:100%;
height: 50%;
}

.askhelp {
	width:100%;
	height: 50%;
}

.askhelp-inner{
	padding-top: 10vh;

}

.mum {
	font-size: 2rem;
	text-align: center;
}

.helpu {
	font-size: 1.3rem;
	line-height: 1.5rem;
	padding-left: 0rem;
	text-align: center;
}

.section-1 {
	background-position: center top ;
}
.buttongroup {
	width:100%;
	display: flex;
}

.buttongroup a  {
	margin: auto;
	
}
.action-button {
	font-size:1.1rem;
}
}

@media (min-width: 561px) and (max-width: 960px) {
.section-2 {
	display: flex;
	flex-direction: column;
}
.left {
	width:50vw;
		float: left;
}

.askhelp{ 
	float: left;
	width:50vw;
}

.askhelp-inner {
	margin:auto;
	padding-top:35vh;

}

.mum {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0
}


.helpu{
	line-height: 1.7rem;
	font-size: 1.4rem;
	padding-left: 0rem;
}
.action-button{
	font-size:1.1rem;
	margin: 20px 10px 10px 0px;
}


}
