@font-face {font-family: "Song-Md";src: url("../fonts/song_md.ttf");}
@font-face {font-family: "Baskerville";src: url("../fonts/Baskerville.ttf");}
@font-face {font-family: "khangxi";src: url("../fonts/khangxi.ttf");}
@font-face {font-family: "imprint";src: url("../fonts/ImprintMTShadow.ttf");}

body {
  background: #F5F5F5;
}

/*heading style*/

header {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  background-color: white;
}

.logo {
  padding: 1.05rem 1.05rem;

}
.nav-list {
    padding: 1rem 1rem;
    font-family: Baskerville, Song-Md;
    float:right;
}

.nav-item {
  display: inline-block;
  width:7rem;
  font-size: 1.1rem;
  text-align: center;
  margin-right: 1rem;
  margin-top: 0.3rem;
  padding:0.25rem;
  line-height: 1.1em;
}
 
.nav-hover:hover {
  color:brown;
}

.icon {
    display: none;
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes height {
    from {  height: 0px}
    to {   height: 190px}
}



@media (max-width: 900px) {
a.icon {
    float: right;
    display: block;
    padding:1.25rem;
    padding-top: 1.5rem;
   font-size: 1rem;
   font-family: Baskerville, Song-Md;
   text-align: center;
   line-height: 1.2rem;
  }
.nav-list  {
  display: none;
}



.nav-list.responsive   {
  background-color: white;
    display:flex;
    flex-direction: column;

    height: 190px;
    width:100%; 
    padding-top: 0.25rem; 
      animation: opacity 1s, height 0.5s;
  }
.nav-item{
  width: 100%;
  padding-top: 0.5rem;
        animation: opacity 2s, height 2.5s;
}

.nav-list.responsive a:nth-child(4){
  padding-bottom:0.5rem;
}

.nav-list.responsive a {
    display: block;
    font-size: 1.5rem;
    z-index: 10;

}


}
/*opening screen styles*/
.opening-screen {
  margin-top: 80px;
  height: 100vh;
  width: 100vw;
    background-image: url("../image/20-once.gif");
    background-size: cover;
    background-position: center center;
    position: relative;
}



h1 {
  font-family: imprint, khangxi;
  font-size: 4rem;
  line-height: 4.4rem;
  text-align: center;
  padding-top: 35vh;
  color: white;
  opacity: 0;
  animation: opacity 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.opening-screen .checkmore {
  font-size: 1rem;
  font-family: Baskerville, Song-Md;
  background-color:#981914;
  padding: 0.85rem;
  border:none;
  border-radius: 0.85rem;
  margin-top: 0.8rem;
  color: white;
}

.opening-screen .checkmore:hover {
  background-color:rgba(66,33,11,0);
    cursor: pointer;
    border: 1px solid #981914;
}

.opening-screen .replay {
  color: white;
  font-size: 1rem;
  display: block;
  width: 100vw;
  text-align: right;
  padding-right:15px;
   position: absolute;
  bottom:25px;
}

.opening-screen .replay:hover {
  text-decoration: underline;
}

@keyframes opacity {
  from {opacity:0;} to {
    opacity: 1;
  }
}


@media (max-width: 600px) {
  h1 {
 font-size: 2.8rem;
  line-height: 3.4rem;
  }
}

@media (max-width: 400px) {
  h1 {
 font-size: 2.3rem;
  line-height: 3rem;
  }
}

@media (max-width: 299px) {
  h1 {
 font-size: 2rem;
  line-height: 2.4rem;
  }
}

/*product-hightlight styles*/
.product-highlight {
  height: 100vh;
  width:100vw;
  background-color: rgba(175,153,94,0.2);
  display: grid;
  grid-template-columns: 50vw 40vw ;
  padding:2.5vh 5vw 2.5vh 5vw;
}

.product-highlight-heading{
   grid-column-start: 1;
  grid-column-end: span 1;
  align-self: center;
  padding-right: 2.5vw;
}

h2 {
  font-family: imprint, khangxi;
  font-size: 2.5rem;
  color: #981914;

}

.h2-eng {
  color:#866e5d;
}

.hightlight-card {
  width:30vw;
}

.product-highlight-card1, .product-highlight-card2 {
  align-self: center;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #981914;
   font-family: Baskerville, Song-Md;
   color:#583C2A;
}

.p-eng {
  color:#866E5D;
  marker-bottom:0.5rem;
}

.margin-top {
  margin-top: 0.85rem;
}


.learnmore {
  font-family: Baskerville, Song-Md;
  font-size: 1.2rem; 
  background-color:#981914;
  padding: 0.85rem;
  border:none;
  border-radius: 0.85rem;
  margin-top: 0.8rem;
  color: white;
}

.learnmore:hover {
    background-color:#42210B;
    cursor: pointer;
}

.product-highlight-chiname {
  margin-top: 18px;
}

@media (max-width: 600px) {
.product-highlight-heading {
  text-align: center;
}

.product-highlight {
  height: 150vh;
    display: grid;
  grid-template-columns:90vw ;
   grid-row-columns:60vh 60vh 60vh;
  padding:10vh 5vw 10vh 5vw;
}

.product-highlight-heading{
   grid-row-start: 1;
  grid-row-end: span 1;
  align-self: center;
  padding-right: 5vw;
  padding-left: 5vw;
}

.hightlight-card {
  width:80vw;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.learnmore {
  font-size: 1rem;
}

.margin-bottom {
  margin-bottom: 0.85rem
}

}

@media (max-width: 444px) {
.product-highlight {
  height: 150vh;
}

}

@media (min-height: 850px) {
.product-highlight {
  height: 80vh;
}

}

/*about us brief description styles*/
.brief-aboutus {
  color: #866e5d;
}

.brief-aboutus-container {
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:2.5vh 5vw 2.5vh 5vw;
}

.sketch-mockup{
  width: 45vw;
  flex-basis: 45vw;
grid-column-start: 1;
  grid-column-end: span 1;
  align-self: center;
   justify-self: start;
}

.brief-aboutus-text{
  flex-basis: 45vw;
  align-self: center;
}

@media (max-width: 600px) {
.product-highlight-heading {
  text-align: center;
}
.brief-aboutus-container {
  height: 130vh;
  
}

.sketch-mockup{
   flex-basis: 90vw;

}

.brief-aboutus-text {
flex-basis: 90vw;
align-self: flex-start;
text-align: center;
padding-left: 5vw;
padding-right: 5vw;
}


.learnmore {
width:30vw;
}

}


/*Contact Us style*/
.findus {
  width: 100vw;
  height: 100vh;
  background-color: #795E5D;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   padding:2.5vh 5vw 2.5vh 5vw;
}

.map {
flex-basis: 45vw;
align-self: center;
}

#map {
  height: 60vh;
  width: 45vw;
}

.findus-info {
  flex-basis: 45vw;
  align-self: center;
  padding-left: 5vw;
  padding-top: 5vh;
}

.findus-heading {
  color: white;
}

.findus-info h2 {
   margin-bottom: 1.5rem;
}

.findus-info h4 {
   margin-bottom: 0.4rem;
}

.findus-info .Eng {
   margin-bottom: 1.2rem;
}

h4 {
   font-family: Baskerville, Song-Md;
  font-size: 1.5rem;
}

.white-color {
  color:white;
}


.findus-info .Chi {
  color:white;
}

.findus-info .Eng {
  color:#f8e7b3;
}

@media (max-width: 818px) {
.findus {
  height: 130vh;
}

#map {
  height: 60vh;
  width: 90vw;
}

.map {
padding-top: 5vh;
flex-basis: 90vw;
}

.findus-info {
  flex-basis: 90vw;
  padding-bottom: 5vh;
  padding-left: 0vw;
}

.find-us-des {
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first-section {
  flex-basis: 45vw;
}

.second-section {
  flex-basis: 45vw;
   padding-left: 5vw;
}

}


@media (max-width: 460px) {

.findus {
  height: 180vh;
}

.map {
flex-basis: 90vw;
}

#map {
  width: 90vw
}

.findus-info {
  flex-basis: 90vw;
  padding-top: 0vh;
}
.find-us-des {
display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.second-section {
   padding-left: 0;
}
.first-section {
  flex-basis: 0vw;
}


}

/*follow us on fb*/
.social-link {
    width: 100vw;
  height: 50vh;
  background-color: #583c2a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   padding:8vh 5vw 3vh 5vw;
}

.social-link-head {
  flex-basis: 40vw;
}
.social-link-head h4 {
  line-height: 1.8rem
}
.facebook-container{
  text-align: center;
  flex-basis: 40vw;
}

#facebook {
  height: 30vh;
  width: 40vw;
}

@media (max-width: 900px) {
.social-link-head {
  margin-right: 8vw;
}

}
@media (max-width: 550px) {
.social-link {
  height: 65vh;
  padding-bottom: 5vh;
}
.facebook-container{
  flex-basis: 90vw;
}
.social-link-head {
  flex-basis: 90vw;
  margin-right: 0vw;
  text-align: center;
}
#facebook {
  margin-top: 5vh;
  width: 90vw;
  margin-left: 7vw
}
}

@media (max-width: 430px) {


#facebook {
  margin-top: 5vh;
  width: 70vw;
  margin-left: 0
}
}

/*footer*/
footer {
  background-color: #3D2211;
  height: 10vh;
    text-align: center;
    width: 100vw;
}

footer p {
  color: white;
  font-family: Baskerville, Song-Md;
  padding-top: 2.5vh;
  font-size: 0.8rem;
}