@font-face {font-family: "Song-Md";src: url("../fonts/song_md.ttf");}
@font-face {font-family: "Baskerville";src: url("../fonts/Baskerville.ttf");}
@font-face {font-family: "khangxi";src: url("../fonts/khangxi.ttf");}
@font-face {font-family: "imprint";src: url("../fonts/ImprintMTShadow.ttf");}

html {
  opacity: 0;
  animation-name:fadein;
  animation-fill-mode: forwards;
  animation-duration: 0.5s
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
body {
  background: #F5F5F5;
    overflow-x: hidden;
}


/*heading style*/

header {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  background-color: white;
}

.logo {
  padding: 1.25rem 1.25rem;

}
.nav-list {
    padding: 1rem 1rem;
    font-family: Baskerville, Song-Md;
    float:right;
}

.nav-item {
  display: inline-block;
  width:7rem;
  font-size: 1.1rem;
  text-align: center;
  margin-right: 1rem;
  margin-top: 0.3rem;
  padding:0.25rem;
  line-height: 1.1em;
}
 
.nav-hover:hover {
  color:brown;
}

.icon {
    display: none;
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes height {
    from {  height: -30px}
    to {   height: 190px}
}


@media (max-width: 900px) {
a.icon {
    float: right;
    display: block;
    padding:1.25rem;
    padding-top: 1.5rem;
   font-size: 1rem;
   font-family: Baskerville, Song-Md;
   text-align: center;
   line-height: 1.2rem;
  }

a.icon #delete {
  width:25px;
  display: none;
  opacity: 0;
  animation-name: display;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }

@keyframes display 
  { 
    from {opacity: 0;}
    to {opacity: 1;}
}
.nav-list  {
  display: none;
}



.nav-list.responsive   {
  background-color: white;
    display:flex;
    flex-direction: column;

    height: 190px;
    width:100%; 
    padding-top: 0.25rem; 
      animation: opacity 1s, height 0.5s;
  }
.nav-item{
  width: 100%;
  padding-top: 0.5rem;
        animation: opacity 2s, height 2.5s;
}

.nav-list.responsive a:nth-child(4){
  padding-bottom:0.5rem;
}

.nav-list.responsive a {
    display: block;
    font-size: 1.5rem;
    z-index: 10;

}


}

/*heading style*/
.heading {
 margin-top: 80px;
  padding-left: 7vw;
  padding-top: 8vh;
  background-color: rgba(175,153,94,0.2);
  width: 100vw;
}

h2 {
  font-family: imprint, khangxi;
  font-size: 2.5rem;
  line-height: 2.9rem;
  color: #981914;
}

.h2-eng {
  color:#866e5d;
}

.white-color {
  color:white;
}

.center {
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
   font-family: Baskerville, Song-Md;
   color:#583C2A;
   margin-top: 0.9rem;
   text-align: center;
}

.p-eng {
  color:#866E5D;
  marker-bottom:0.5rem;
  margin-top: 0rem;
}


.learnmore {
   font-family: Baskerville, Song-Md;
  font-size: 0.9rem;
  background-color:#981914;
  padding: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border:none;
  border-radius: 1.6rem;
  margin-top: 0.7rem;
  color: white;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

.learnmore:hover {
    background-color:#42210B;
    cursor: pointer;
     -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}


.product-group a:hover {
 text-decoration: underline;
}

.product-group button a:hover {
  text-decoration: none;
}

@media (min-width: 1400px) {

 h2 {
  font-size: 3rem
}
.h2-eng {
  font-size: 2.8rem;
  margin-top: 0.3rem;
}
p {
  font-size: 1.4rem;
  line-height: 2.1rem
}
.p-eng {
  line-height: 1.8rem 
}

}
@media (min-width: 1100px) {
  .heading {
    padding-top:10vh;
  }
}
/*product*/
.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 5vh;
  padding-bottom: 15vh;
  background-color: rgba(175,153,94,0.2);
  width: 100vw;
}

.product-group {
  flex-basis: 26vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}


.product-group img {
  width:26vw
}

@media (max-width: 850px) {
.product-group {
  flex-basis: 43vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 8vh;
}
.product-group img {
  width:40vw
}
}

@media (max-width: 430px) {
.product-group {
  flex-basis: 90vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 8vh;
}
.product-group img {
  width:80vw
}
}


/*follow us on fb*/

h4 {
   font-family: Baskerville, Song-Md;
  font-size: 1.5rem;
}

.findus-heading {
  color: white;
}

.social-link {
    width: 100vw;
  height: 50vh;
  background-color: #583c2a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   padding:5vh 5vw 3vh 5vw;
}

.social-link-head {
  flex-basis: 45vw;
     margin-right: 5vw;
     display: flex;
      align-items: center;
}

.social-link-head h2 {
  line-height: 3rem;
}
.social-link-head h4 {
   margin-top: 10px
}
.facebook-container{
  text-align: center;
  flex-basis: 40vw;

}



#facebook {
  height: 30vh;
  width: 40vw;

}

@media (min-width: 1500px) and (max-width: 2000px) {
.social-link {
  height: 30vh;
}
.facebook-container iframe {
  padding-top: 1em;

}
}

@media (min-width: 1301px) and (max-width: 1599px) {
.social-link {
  height: 40vh;
}
.facebook-container iframe {
  padding-top: 1.2em;

}
}

@media (min-width: 1200px) and (max-width: 1300px) {
.social-link {
  height: 40vh;
}
.facebook-container iframe {
  padding-top: 1em;

}
}
@media (min-width: 901px) and (max-width:1199px) {
.social-link {
  height: 45vh;
}
.facebook-container iframe {
  padding-top: 1.8em;

}
}



@media (max-width: 900px) {

.facebook-container{
  flex-basis: 40vw;
}
.social-link-head {
  flex-basis: 40vw;
  margin-right: 0vw;
}
.social-link-head iframe {
  width:80vw;
     margin-left: 7vw
}

.social-link-head {
  margin-right: 8vw;
}

}
@media (max-width: 550px) {
.social-link {
  height: 65vh;
  padding-bottom: 5vh;
}

.social-link-head {
  flex-basis: 90vw;
  margin-right: 0vw;
  text-align: center;
}

.facebook-container{
  flex-basis: 90vw;
  text-align: center;
  align-self: center;

}

#facebook {
  width:80vw;
  margin-top: 20px;
     margin-left: 7vw;

}
 
}

@media (max-width: 430px) {
.social-link {
  height: 70vh
}
.social-link-head h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-top: 15px;
}

.social-link-head h4 {
  margin-top: 15px
}
.social-link-head iframe {
  width:80vw;
   margin-top: 5vh;
}


}

/*footer*/
footer {
  background-color: #3D2211;
  height: 10vh;
    text-align: center;
    width: 100vw;
}

footer p {
  color: white;
  font-family: Baskerville, Song-Md;
  padding-top: 2.5vh;
  font-size: 0.8rem;
  margin-top: 0px;
}

@media (min-width: 1000px) {
  footer {
    height: 8vh;
  }
}